src/ZapoomC/fordevcpp
src/ZapoomC/backup_1.txt
src/ZapoomC/backup_2.txt
src/ZapoomC/ZapoomC_v1.2
src/ZapoomC/ZapoomC_v1.2.dev
src/ZapoomC/ZapoomC.layout
src/Luncher/desktop.ini
src/Luncher/icons8-download-24.ico
src/Luncher/ZapoomCL_v1.7.exe.lnk